.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

.dot:hover {
    background-color: white;
}

.smooth-transition {
    transition: background-image 3s ease-in-out;
}

@media (min-width: 768px) {
    .dot {
        width: 15px;
        height: 15px;
    }
}